/node_modules/
/__tests__
/.bundle
/temp.json

/android/.idea/
/android/.gradle/
/android/build/
/android/app/build/
/android/app/release/


/ios/Pods
android/local.properties
ios/.DS_Store
ios/portmanagement.xcodeproj/project.pbxproj
ios/Podfile.lock 
ios/Google-Maps-iOS-Utils-cloned/
ios/portmanagement.xcworkspace/xcuserdata/mahmoudshaeer.xcuserdatad/UserInterfaceState.xcuserstate
